@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
}

@layer utilities {
  .header-container{
    @apply h-14 w-[60%] rounded-3xl bg-green-500 text-white justify-center items-center
  }
  .header-logo{
    @apply font-bold sm:block !important
  }

  /* button */
  .button{
    @apply flex justify-center items-center h-12 w-56 bg-green-500 rounded-3xl
  }
}